* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

:root {
    --primaryColor: #0D84E6;
    --secondaryColor: #36d36b;
    --backgroundColor: #000000;
    --background-secondaryColor: #272727;
    --whiteColor: #fff;
    --textlineColor: #D5D5D5;
    --borderlineColor: #393939;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: var(--whiteColor);
    background-color: var(--backgroundColor);
}

header {
    margin-bottom: 1rem;
}

/* .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
} */

.form-container {
    display: flex;
}

.todo-container {
    width: 25rem;
}
.clear-btn {
    background: var(--background-secondaryColor);
    color: var(--primaryColor);
    font-size: 1rem;
    padding: 0.5rem;
    margin-left: 1rem;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.clear-btn:hover {
    background: var(--primaryColor);
    color: var(--whiteColor);
}
form {
    width: 25rem;
    /* background-color: var(--whiteColor); */
    display: flex;
    justify-content: space-between;
}

form input {
    flex: 1;
    color: var(--textlineColor);
    
}

form input, form button {
    border: none;
    outline: none;
    background: var(--background-secondaryColor);
    font-size: 1rem;
    padding: 0.5rem;
}

form i {
    font-size: 1.3rem;
}

form button {
    color: var(--primaryColor);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

form button:hover {
    color: var(--secondary);
}

.todo {
    display: flex;
    background-color: var(--borderlineColor);
    padding: 0.7rem;
    font-size: 1.2rem;
}
.todo li {
    flex: 1;
}

.todo span {
    padding-left: 1rem;
    cursor: pointer;
}

.fa-circle-check {
    color: var(--secondaryColor);
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

select {
    appearance: none;
    border: none;
    outline: none;
    padding: 1rem;
    background-color: var(--background-secondaryColor);
    color: var(--whiteColor);
    font-size: 1rem;
    width: 100%;
}

.select {
    margin-left: 1rem;
    position: relative;
    width: 10rem;
}

.select::after {
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    font-size: 0.9rem;
    color: var(--secondaryColor);
    cursor: pointer;
    pointer-events: none;
}